<div class="container">
  <h1>{{model.name}}, {{model.state}}</h1>
  <h2>{{model.country}}</h2>
</div>

<button {{action 'deleteLocation' model}}>Delete</button>

{{update-location updateLocation="updateLocation" model=model}}

<ul>
  {{#each model.posts as |post|}}
    {{#link-to 'post' post.id}}{{post-tile updatePost="updatePost" deletePost="deletePost" post=post}}{{/link-to}}
  {{/each}}
</ul>

{{new-post savePost="savePost" location=model}}
